@import url('https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css");

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", Sans-Serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #534292;
  background-image: linear-gradient(147deg, #654986 0%, #534292 74%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.wrapper {
  background: hsla(0,0%,100%,0.884);
  margin-top: 25px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.form header {
  font-family: 'Twinkle Star', cursive;
  font-size: 45px;
  color: black;
  font-weight: bold;
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 2px;
  border-bottom: 1px solid #0000002c;
}

.form form .error-text {
  font-size: 15px;
  color: red;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
  background: #f8d7da;
  border-radius: 5px;
  border: 1px solid #f5c6cb;
  word-wrap: break-word;
  display: none;
}

.form {
  padding: 10px 25px 10px 25px;
}

.form form {
  margin: 20px 0px;
}

.form form .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.form form .input input {
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-weight: bold;
}

.sing-in-txt {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.form form .field label {
  margin-bottom: 2px;
  margin-left: 3px;
}

.form form .image input {
  font-size: 17px;
}

.form form .button input {
  margin-top: 13px;
  height: 35px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  background: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.form form .button input:active {
  background: #7021a3;
}

.form .link {
  font-size: 17px;
  font-weight: 420;
}

.form .link a {
  color: #333;
  text-decoration: none;
}

.form .link a:hover {
  text-decoration: underline;
}

.form form .field i {
  position: absolute;
  font-size: 23px;
  right: 15px;
  color: #ccc;
  top: 70%;
  transform: translateY(-50%);
  cursor: pointer;
}

.form form .field i.active::before {
  content: "\f070";
  color: #333;
}

/*User Area CSS*/
.users {
  padding: 20px 30px;
}

.users header,
.users-list a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 20px;
  text-decoration: none;
}

.wrapper img {
  object-fit: cover;
  border-radius: 50%;
}

.users header .content,
.users-list a .content{
  display: flex;
  align-items: center;
}

.users header .content img {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}

.users header .content .details,
.users-list .content .details {
  margin-left: 15px;
  color: #000;
}

.users header .content .details span,
.users-list .content .details span{
  font-weight: bold;
  display: inline-block;
}

.users header .content .details p {
  font-weight: 450;
  color: rgba(10,29,16,0.49);
}

.logout {
  background: #333;
  color: #fff;
  padding: 7px 15px;
  margin-bottom: 15;
}

.users .search {
  margin: 20px 0px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.users .search .text {
  font-size: 18px;
}

.users .search input {
  position: absolute;
  height: 42px;
  width: calc(100% -40px);
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  padding: 0 5px 0 5px;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease; 
}

.users .search input.active {
  opacity: 1;
  pointer-events: auto;
}

.users .search button {
  width: 47px;
  height: 42px;
  border: none;
  outline: none;
  color: black;
  background: rgba(255,255,255,0.154);
  border-radius: 0 5px 5px 0;
  transition: all 0.2s ease;
  cursor: pointer;
}

.users .search button.active {
  background: black;
  color: white;
}

.users .search button.active i::before {
  content: "\f00d";
}

.users-list::-webkit-scroll-bar {
  width: 0px;
}

.users-list {
  max-height: 350px;
  overflow-y: auto;
}

.users-list a {
  padding-right: 15px;
  margin-bottom: 10px;
  page-break-after: 10px;
  border-bottom-color: #f1f1f1;
}

.users-list a:last-child {
  border: none;
  margin-bottom: 0px;
}

.users-list a .content img {
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
}

.users-list a .content .details p {
  color: #67676a;
}

.users-list a .status-dot {
  font-size: 12px;
  color: #469669;
}

.users-list a .status-dot.active {
  color: #ccc;
}

.telechat {
  font-family: 'Twinkle Star', cursive;
  font-size: 45px;
  color: black;
  font-weight: bold;
  padding-bottom: 2px;
  margin-top: 20px;
}

/*Chat Area css*/

.chat-area header {
  display: flex;
  align-items: center;
  padding: 18px 30px;
  border-bottom: 1px solid #ccc;
}

.chat-area header img {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

.chat-area header .back-icon {
  color: black;
  margin-right: 10px;
  font-size: 17px;
  background: #e6e6e6;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.chat-area header .back-icon i {
  margin-top: 8px;
  margin-left: 8px;
}

.chat-area header .back-icon:active {
  background: black;
  color: white;
}

.chat-area header .details {
  margin-top: 15px;
}

.chat-area header .details span {
  font-family: 'Mukta', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 17px;
}

.chat-area header .details p {
  font-size: 14px;
  font-weight: bold;
  color:#686868;
}

.chat-box {
  height: 400px;
  background: #e9e9e9;
  padding: 10px 30px 20px 30px;
  overflow-y: auto;
}

.chat-box .chat p {
  word-wrap: break-word;
}

.chat-box .outgoing {
  display: flex;
}

.outgoing .details {
  margin-left: auto;
  max-width: calc(100% - 70px);
  min-width: 100px;
}

.outgoing .details p {
  background: #333;
  color: #fff;
  padding: 6px 10px 6px 10px;
  border-radius: 10px 10px 0px 10px;
  min-height: 30px;
}

.chat-box .incoming {
  display: flex;
  align-items: center;
}

.incoming .details {
  min-width: 100px;
}

.incoming .details p {
  background: white;
  border: 1px solid  #ccc;
  max-width: 210px;
  border-radius: 0px 10px 10px 10px;
  min-height: 30px;
  padding: 6px 6px;
}

.chat-area .typing-area {
  padding: 18px 18px;
  display: flex;
  border-top: 1px solid #ccc;
  justify-content: space-between;
}

.typing-area input {
  height: 47px;
  width: 90%;
  outline: none;
  border: 1px solid #ccc;
  padding: 0px 13px;
  border-radius: 5px;
}

.typing-area button {
  width: 50px;
  height: 45px;
  margin-left: 4px;
  background: black;
  color: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;
}

.typing-area button i {
  margin-right: 3px;
}

.typing-area button:active {
  background: white;
  color: black;
  border: 1px solid black;
}